<div class="card">
  <div class="card-body">
    <h4 class="card-title">Current Census</h4>
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">System</th>
      <th scope="col">XS Tanks</th>
      <th scope="col">S Tanks</th>
      <th scope="col">M Tanks</th>
      <th scope="col">L Tanks</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Main</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr>
      <th scope="row">Nursery</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr>
      <th scope="row">Quarantine</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
  </tbody>
</table>
  </div>
</div>

