<div class="card">
  <div class="card-body">
    <h4 class="card-title">Health Issues</h4>
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Status</th>
      <th scope="col">Lab</th>
      <th scope="col">Location</th>
      <th scope="col">Issue</th>
      <th scope="col">MRC</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">example</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr>
      <th scope="row">example</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
    <tr>
      <th scope="row">example</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr>
  </tbody>
</table>
  </div>
</div>
<script src="/js/health.js"></script>